@keyframes changecolor {
  0% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: palegreen;
  }
}
@keyframes colorlogo {
  0% {
    color: #ffff33;
  }
  30% {
    color: #ccff33;
  }
  60% {
    color: #ff9966;
    transform: rotate(360deg);
  }
  80% {
    color: red;
    transform: scale(3);
  }
  100% {
    color: #3333ff;
  }
}
